.home_class {
    margin: auto;
    position: relative;
    width: 1000px;
}

@media (max-width: 996px) {
    .home_class{
        margin-top: 0rem;
        width: 100%;
    }
}

.home_section_header {
    margin-top: 15px;
    margin-left: 10px;
    color: var(--blue);
    font-size: 25px;
}

.section_card {
    margin-top: 15px;
    background: var(--bg-superdarkgrey);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 15px;
}

/* order type css - START  */

.location_section {
    margin-top: 5rem;
}

.home_class .section_card .location_header {
    margin: 10px;

    color: var(--blue);
    font-size: 23px;
}

.home_class .section_card .location_body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
}

.home_class .section_card .location_body span {
    margin: 0px 17px;
    color: white;
}

.location_btn button {
    position: relative;
    padding: 12px 15px;
    font-size: 17px;

    background: var(--blue);
    color: white;

    border: none;
    border-radius: 25px;
    
    cursor: pointer;
}

.location_btn button img {
    height: 12px;
    width: 12px;
    margin-right: 7px;
}

/* order type css - END  */


/* recommendation section scroll - START */

.recom_section {
    width: 100%;
    position: relative;
}

.recom_scroll {
    display: flex;
    flex-wrap: nowrap;
    padding: 15px 10px;
    margin-top: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@media (min-width: 786px) {
    .recom_section:hover .floating_arrow{
        opacity: 1;
    }    
  }

.recom_scroll::-webkit-scrollbar {
    display: none;
  }

/* recommendation section scroll - END */

/* recommendation food card css - START */

.home_food_card {
    --stop: always;
    margin: 0px 10px;
    flex: 0 0 250px;
    width: 250px;
    height: 380px;
    background: var(--bg-superdarkgrey);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home_food_card .food_card_image {
    height: 50%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.home_food_card .food_card_image img {
    object-fit: cover;
    -o-object-fit: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.home_food_card .food_card_body {
    height:50%;
    width: 100%;
}

.home_food_card .food_card_body .card_title {
    margin: 5px 10px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    height: 51px;

    color: var(--blue);
}

.home_food_card .food_card_body .card_description {
    margin: 5px 10px;
    text-align: center;
    font-size: 14px;
    height: 40px;

    color: white;
}

.home_food_card .food_card_body .card_price {
    margin-top: 5px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: var(--blue);
    height: 25px;
}

.home_food_card .food_card_body .add_to_crt {
    margin-top: 10px;
    width: 100%;
    height: 55px;
}

.home_food_card .food_card_body .add_to_crt button {
    width: 100%;
    height: 100%;

    background: var(--blue);
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media (max-width: 996px) {

    .home_food_card .food_card_image {
        height: 40%;
    }

    
    .home_food_card .food_card_body {
        height: 60%;
    }

    .home_food_card { 
        flex: 0 0 220px;
        width: 220px;
        height: 320px;
    }

    .home_food_card .food_card_body .card_title {
        font-size: 20px;
    }

    .home_food_card .food_card_body .card_description {
        font-size: 12px;
    }

    .home_food_card .food_card_body .card_price {
        font-size: 20px;
    }

    .home_food_card .food_card_body .add_to_crt {
        height: 52px;
    }
}

/* recommendation food card css - END */

/* category section css - START */

.cat_section {
    display: flex;
    flex-wrap: wrap;
    padding: 15px 20px;
    margin-top: 15px;
}

.home_cat_card {
    width: 200px;
    height: 230px;
    margin: 20px;
    background: var(--bg-superdarkgrey);
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home_cat_card .cat_card_image {
    height: 78%;
    width: 94%;
    margin: 3%;

    transition: all .3s;
}

.home_cat_card .cat_card_image:hover {
    height: 82%;
    width: 100%;
    margin: 0%;
}

.home_cat_card .cat_card_image img {
    border-radius: 15px;
    width: 100%;
}

.home_cat_card .cat_carf_label {
    margin-top: 10px;
    text-align: center;
    color: var(--blue);
    font-size: 22px;
    font-weight: bold;
}

@media (max-width: 800px) {
    .cat_section {
        padding: 15px 7px;
    }
    
    .home_cat_card {
        width: 200px;
        height: 230px;
        margin: 20px;
    }
}

@media (max-width: 500px) {
    .cat_section {
        padding: 10px;
    }
    
    .home_cat_card {
        width: 46%;
        height: 200px;
        margin: 2%;
    }
}

/* category section css - END */


/* footer page css - START */

.footer {
    background: var(--bg-superdarkgrey);
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 300px;
}

.footer .top {
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer .bottom {
    height: 50px;
    background: var(--blue);
}

.footer .top .footer_main_section {
    display: flex;
    height: 200px;
}

.footer_main_section .f_brand_section {
    display: flex;
    position: relative;
    height: 100%;
}

.footer_main_section .f_brand_section .brand_logo img{
    width: 200px;
    height: 200px;
}

.footer_main_section .f_brand_section .hlh_logo img{
    width:60px;
    height: 60px;
}

.footer_main_section .f_data_section {
    margin-left: 50px;
    display: flex;
}

.footer_main_section .f_data_section .footer_data {
    height: 100%;
    width: 250px;
    color: white;
    padding: 15px;
}

.footer_main_section .f_data_section .footer_data .f_header {
    font-size: 23px;
    font-weight: bold;
    margin-bottom: 15px;
}

.footer_main_section .f_data_section .footer_data .f_body {
    display: flex;
    flex-direction: column;
}

.footer_main_section .f_data_section .footer_data .f_body span img {
    height: 15px;
    width: 15px;
}

.footer_main_section .f_data_section .footer_data .f_body span {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer_main_section .f_data_section .footer_data .f_body span a {
    margin-left: 10px;
}

.footer .bottom {
    text-align: center;
    color: white;
    padding: 12px;
    font-size: 20px;
}

@media (max-width: 996px) {
    .footer{
        height: auto;
    }

    .footer .top {
        height: auto;
    }

    .footer .top .footer_main_section {
        height: auto;
        flex-direction: column-reverse;
    }

    .footer_main_section .f_data_section {
        margin: 0px;
        flex-wrap: wrap;
    }

    .footer_main_section .f_data_section .footer_data {
        width: 50%;
        height: 200px;
    }

    .footer_main_section .f_brand_section {
        margin-bottom: 30px;
        justify-content: center;
    }

    .footer_main_section .f_brand_section .brand_logo img {
        height: 150px;
        width: 150px;
    }

    .footer_main_section .f_brand_section .hlh_logo img {
        height: 70px;
        width: 70px;
    }
}
/* footer page css - END */