.css-heg063-MuiTabs-flexContainer {
    padding: 5px 3px;
}

.css-heg063-MuiTabs-flexContainer .MuiButtonBase-root:first-child {
    margin-left: 0px !important;
}

.css-heg063-MuiTabs-flexContainer .MuiButtonBase-root {
    background: var(--bg-darkgrey) !important;
    border-radius: 5px !important;
    width: 49% !important;
    margin-left: 5px !important;
    color: var(--blue) !important;
}

.css-heg063-MuiTabs-flexContainer .MuiButtonBase-root.Mui-selected {
    background: var(--blue) !important;
    color: black !important;
}
