.sbn_main {
    position: fixed;
    bottom:0px;
    width: 100% !important;
    height: 10%;
    margin-top: 10px;
}

.sbn_root {
    background: var(--bg-superdarkgrey) !important;
    height: 100% !important;
}

.sbn_button {
    color: white !important;
    max-width: 100% !important;
}

.sbn_button.Mui-selected {
    background: var(--blue) !important;
}

@media (min-width: 996px) {
    .sbn_main {
        display: none;
    }
}