.orders_header {
    padding: 20px;
    font-size: 30px;
    font-weight: 400;
} 

.orders_body {
    padding: 20px;
    border-radius: 15px;
}

.orders_body .datagrid_parent {
    width: 100%;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 15px;
}

.dg-class-header {
    font-size: 17px;
    font-weight: bold;
}

.dg-class-row {
    font-size: 15px;
}