.logo {
    font-size: 3.6rem;
    font-weight: 700;
    margin-left: 2%;
  }

.header {
position: fixed;
top: 0;
left: 0;
right: 0;
padding: 1rem 2%;
height: 12rem;
color: var(--white);
background: var(--bg-superdarkgrey);
display: flex;
align-items: center;
box-shadow: var(--box-shadow);
z-index: 40011;
}

.logo img {
  width: 110px;
  height: 110px;
}

@media (max-width: 600px) {
  .header {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 35rem;
  }

  .logo {
    display: block;
    width: 220px;
    height: 220px;
    margin: 0;
  }

  .logo img {
    width: 220px;
    height: 220px;
  }
}

.current_info {
  width: 45%;
  margin-left: 5%;
}

.address_bar {
  height: 7rem;
  font-size: 24px;
  display: flex;
  align-items: center;
}

.current_info .open_indication {
  display: none;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 60px;
  background: green;
  border-radius: 25px;
}

.current_info .close_indication {
  display: none;
  align-items: center;
  justify-content: center;
  height: 26px;
  width: 60px;
  background: yellow;
  color: black;
  border-radius: 25px;
}

.current_info .close_indication.active {
  display: flex;
}

.current_info .open_indication.active {
  display: flex;
}

.navbar {
  position: relative;
  margin-left: 25%;
  height: 30px;
}

.navbar .nav_icon {
  margin-left: 7px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--blue);
  display: inline-block;
  position: relative;
  border: none;
  appearance: none;
  cursor: pointer;
}

.navbar .nav_icon img {
  width: 22px;
  height: 22px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  left: 4px;
}

.navbar .nav_icon.user img {
  width: 25px;
  height: 25px;
  top: 2.5px;
  left: 2.5px;
}

@media (max-width: 1000px) {
  .current_info {
    width: 65%;
    margin-left: 3%;
  }

  .address_bar {
    font-size: 20px;
  }

  .navbar {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .current_info {
    margin: 0;
    width: 90%;
    align-items: center;
  }

  .address_bar {
    text-align: center;
    font-size: 18px;
  }

  .current_info .close_indication{
    margin-left: 12%;
  }

  .current_info .open_indication {
    margin-left: 12%;
  }

  .navbar {
    margin: 0;
    position: absolute;
    top: 297px;
    right: 22%;
  }
}

/* user manu tooltip - START  */

.navbar .user_menu {
  display: none;
  position: absolute;
  top: 40px;
  right: -40px;
  min-width: 200px;

  border-radius: 25px;
  color: var(--blue);
  background: var(--bg-darkgrey);

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.navbar .user_menu.show_menu{
  display: block;
}

.navbar .user_menu .user_name {
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;
  font-size: 25px;
}

.navbar .user_menu .btn {
  width: 100%;
  padding:5px 0px;

  text-align: center;
  font-size: 20px;
  border-top: 1px solid var(--blue);

  cursor: pointer;
}


/* user manu tooltip - END  */

/* .header .hamburger img {
width: 3rem;
}

.header .hamburger {
display: none;
}

.navbar a {
  font-weight: 500;
  transition: var(--transition);
  padding: 1rem;
  border-bottom: 2px solid transparent;
}

.navbar a:not(:last-child) {
  margin-right: 1rem;
}

.navbar a.active {
  color: var(--blue);
  border-color: var(--blue);
}

.navbar a:hover {
  color: var(--blue);
  border-color: var(--blue);
}

@media (max-width: 996px) {
    .logo {
        font-size: 3rem;
    }

    .navbar a {
        padding: 05.rem;
    }

    .navbar a:not(:last-child) {
        margin-right: 0.5rem;
    }
}

@media (max-width: 768px) {
  .header .navbar {
    position: fixed;
    left: 0;
    right: 0;
    width: 90%;
    padding: 2.5rem;
    margin: 0 auto;
    box-shadow: var(--box-shadow);
    background-color: var(--white);
    text-align: center;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    top: -100%;
  }

  .header .hamburger {
    display: block;
  }

  .navbar.show {
    top: 9rem;
    background: var(--bg-superdarkgrey);
  }

  .navbar a {
    color: var(--white);
    border-bottom: 2px solid;
    border-color: var(--white);
  }
} */
