.column_render_class {
    display: flex;
    flex-direction: column;
    min-height: 40px;
    margin: 5px 0px;
}

.vertical-center {
    justify-content: center;
}

.margin-left {
    margin-left: 8px;
}

.center {
    justify-content: center;
    align-items: center;
}

.direction-row {
    flex-direction: row;
}

.column_text {
    margin-top: 2.5px;
}

/* Toggle switch css - START */

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 22px;
    margin: 10px;
  }
  
  .toggle-switch .toggle-input {
    display: none;
  }

  .toggle-switch .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 22px;
    background-color: #2196F3;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .toggle-switch .toggle-label::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    background-color: #fff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
  }
  
  .toggle-switch .toggle-input:checked + .toggle-label {
    background-color: #4CAF50;
  }
  
  .toggle-switch .toggle-input:checked + .toggle-label::before {
    transform: translateX(14px);
  }

  .toggle-switch.light .toggle-label {
    background-color: #BEBEBE;
  }
  
  .toggle-switch.light .toggle-input:checked + .toggle-label {
    background-color: #9B9B9B;
  }
  
  .toggle-switch.light .toggle-input:checked + .toggle-label::before {
    transform: translateX(6px);
  }
  .toggle-switch.dark .toggle-label {
    background-color: #4B4B4B;
  }
  
  .toggle-switch.dark .toggle-input:checked + .toggle-label {
    background-color: #717171;
  }
  
  .toggle-switch.dark .toggle-input:checked + .toggle-label::before {
    transform: translateX(16px);
  }  

/* Toggle switch css - END */